.the-cdt {
    $parent: &;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    --the-cdt-value-size: 50px;

    // border-radius: 5px;
    // box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    &-block {
        min-width: calc(var(--the-cdt-value-size) * 2);
        height: calc(var(--the-cdt-value-size) * 2);
        border-radius: 5px;

        // box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        // background-color: rgba(0, 0, 0, 0.1);

        box-sizing: border-box;
        padding: 10px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &-delimiter,
    &-value {
        font-family: monospace;
        font-size: var(--the-cdt-value-size);
        font-weight: bold;
        line-height: 1;
    }

    &-unit {
        font-size: 0.8rem;
        font-weight: 600;
    }
}