#post .components-panel__body.is-opened>h2.components-panel__body-title {
    margin: -16px -16px 5px;
}

#post .the-countdown-timer-editor-component h2 {
    padding: 0;
}

#post .the-countdown-timer-editor-component .components-tab-panel__tabs {
    white-space: nowrap;
    overflow-x: auto;
}