#post .components-panel__body.is-opened > h2.components-panel__body-title {
    margin: -16px -16px 5px;
}
#post .the-countdown-timer-editor-component h2 {
    padding: 0;
}
.the-countdown-timer-editor-component .components-panel__body-toggle.components-button:focus{
    box-shadow: none;
}
.the-countdown-timer-editor-component .components-panel__body.is-disabled {
    background: rgba(0, 0, 0, 0.025);
}
.the-countdown-timer-editor-component .components-panel__body.is-opened .components-panel__body-toggle {
    font-weight: 900;
}