.the-countdown-timer-editor-component {
    position: relative;
}

.the-cdt {
    $parent: &;

    display: flex;
    align-items: stretch;

    align-items: center;

    &-block {
        min-width: calc(var(--the-cdt-value-size) * 2px);
        box-sizing: border-box;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &-delimiter,
    &-value {
        font-family: monospace;
        font-size: var(--the-cdt-value-size);
        font-weight: bold;
        line-height: 1;
    }

    &-unit {
        font-size: 0.8rem;
        font-weight: 600;
    }
}